<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/dfb27723a2.js" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/base/base.css">
    <link rel="stylesheet" href="../styles/products/styles.css">
    <link rel="stylesheet" href="../styles/products/header.css">
    <link rel="stylesheet" href="../styles/products/aboutme.css">
    <link rel="stylesheet" href="../styles/products/contact.css">
    <link rel="stylesheet" href="../styles/products/footer.css">
    <link rel="stylesheet" href="../styles/login/login.css">
    <title>E-Commerce-Alura</title>
</head>
<body>
    <header>
        <nav class="header">
            <img class="header__imag" src="../assets/imags/logo.svg" alt="logo">
           
            <div class="header__search">
                <i class="fa-solid fa-magnifying-glass header__icon"></i>
                <input 
                class="header__search__input" 
                type="text"
                placeholder="¿Qué deseas buscar?"
                >
                
            </div>
        </nav>
    </header>

    <section title="sign-in">
        <div class="login__container">
            <form class="login__form" action="" method="post">
                <p class="login__form__title">Iniciar Sesión</p>
                <input 
                class="login__form__user" 
                placeholder="Escriba su correo electrónico"
                type="email"
                required
                data-tipo="user"
                ><span class="input-message-error-user"></span>
                <input  
                class="login__form__password" 
                type="password"
                placeholder="Escriba su contraseña"
                required
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?!.*[ !@#$%^&*_=+-]).{6,12}$"
                data-tipo="password"
                ><span class="input-message-error-password"></span>
                <input  
                class="login__form__submit" 
                type="submit"
                data-submit 
                value="Entrar">
            </form>
        </div>
    </section>
    <section class="modal">
        <div class="modal__container">
            <h2 class="modal__titulo" data-mensaje></h2>
            <button class="modal__bnt" data-btn-back>Volver</button>
        </div>
    </section>
    <section title="aboutme" class="aboutme">
        <div class="aboutme__menu">
            <div class="aboutme__menu__container">
                <img class="aboutme__image" src="../assets/imags/logo.svg" alt="logo">
                <ul class="aboutme__list">
                    <li class="aboutme__list__item">
                        <a href="">Quienes somos</a>
                    </li>
                    <li class="aboutme__list__item">
                        <a href="">Política de privacidad</a>
                    </li>
                    <li class="aboutme__list__item">
                        <a href="">Programa de fidelidad</a>
                    </li>
                    <li class="aboutme__list__item">
                        <a href="">Nuestras tiendas</a>
                    </li>
                    <li class="aboutme__list__item">
                        <a href="">Quiero ser franquiciado</a>
                    </li>
                    <li class="aboutme__list__item">
                        <a href="">Anúncie aquí</a>
                    </li>
                </ul>

            </div>

            <div class="contact">
                <p class="contact__title">Hable con nosotros</p>
                <form action="" method="post" class="contact__form">
                    <div class="contact__form__input">
                        <label for="">
                            <p class="contact__form__input__label">Nombre</p> 
                            <input 
                            class="contact__form__input__name " 
                            type="text" 
                            maxlength="40"
                            minlength="8"
                            required
                            data-input-name
                            >
                        </label>
                    </div>
                    
                    <textarea 
                    class="contact__form__msj" 
                    placeholder="Escribe tu mensaje" 
                    cols="30" rows="10" required maxlength="120" data-input-mensaje></textarea>
                    
                    <input 
                    class="contact__form__btn" 
                    type="submit" 
                    value="Enviar mensaje">
                </form>
            </div>
        </div>


    </section>

    <footer>
        <p>Desarrollado por Facundo</p>
        <p>2021</p>
    </footer>
    <script src="../controllers/login/index.js"  type='module' ></script>
</body>
</html>