@import url('./normalize.css');
@import url('./reset.css');

:root {
    --color-background:#FFFFFF;
    --color-backgroud-body:#E5E5E5;
    --color-background-contact:#EAF2FD;
    --color-background-input:#F5F5F5;
    
    --color-primary:#FFFFFF;
    --color-secundary:#2A7AE4;
    --color-text-primary:#464646;
    --color-text-secundary:#A2A2A246;
    

    --font-family-title: 'Raleway', sans-serif;
}