@import url('./normalize.css');
@import url('./reset.css');

:root {
    --color-background:#FFFFFF;
    --color-backgroud-body:#E5E5E5;
    --color-background-contact:#EAF2FD;

    --color-primary:#FFFFFF;
    --color-secundary:#2A7AE4;
    --color-text-primary:#464646;

    --font-family-title: 'Raleway', sans-serif;
}