.login__container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-backgroud-body);
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .875rem;

}

.login__form__title {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2rem;
    color: var(--color-text-primary);
    margin-top: 6rem;
}

.login__form__user {
    width: 17.2rem;
    height: 2.6rem;
    background-color: var(--color-primary);
    border: none;
    border-radius: 4px;
    padding: .5rem 3rem .8125rem .75rem;
}

.login__form__password {
    width: 17.2rem;
    height: 2.6rem;
    background-color: var(--color-primary);
    border: none;
    border-radius: 4px;
    padding: .5rem 3rem .8125rem .75rem;
}

.login__form__submit{
    margin-bottom: 4.75rem;
    height: 2.5rem;
    width: 7rem;
    border:none;
    color: var(--color-primary);
    background-color: var(--color-secundary);
    font-weight: 600;
    line-height: 1rem;
    padding: .75rem 2.125rem;
    font-size: 1.125rem;

}
.aboutme{
    margin-top: 0;
}

.aboutme__menu{
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    .login__form__user {
        width: 50%;
    }

    .login__form__password{
        width: 50%;
    }

    .login__form__submit{
        width: 54%;
        height: 3.9rem;
    }

    .login__form__title {
        font-size: 1.125rem;
    }
}